.split-register {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0px;
  margin-top: 50px;
}

.left-register {
  flex: 50%;
  margin-left: 36px;
}
.right-register {
  flex: 50%;
  margin-right: 36px;
}

.register-box {
  background-color: rgba(0, 0, 0, 0.4);
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

@keyframes splitAndMerge {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  33.3% {
    opacity: 1;
    transform: scale(1);
  }
  66.6% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.left-register {
  animation: splitAndMerge 5s forwards;
}

.right-register {
  animation: splitAndMerge 5s forwards;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  font-family: Roboto;
  margin: 10px 0;
}

.text-field input {
  width: 400px;
  padding: 0 5px;
  height: 40px;
  font-size: 14px;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.text-field .span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0px;
  height: 2px;
  background: #636363;
  transition: 0.5s;
}

.text-field input:focus ~ .span::before,
.text-field input:valid ~ .span::before {
  width: 100%;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: -10px;
  color: white;
}

input[type="submit"] {
  width: 150px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px 10px;
  margin-top: 30px;
}
